@font-face{
    font-family: 'Bauhaus';
    src: url('css/fonts/Bauhaus.ttf');
}

@font-face{
    font-family: 'Titania';
    src: url('./fonts/Titania-Regular.ttf');
}

@font-face{
    font-family: 'Titania Outline';
    src: url('./fonts/Titania-Outline.ttf');
}

@font-face{
    font-family: 'Titania Shadow';
    src: url('./fonts/Titania-Shadow.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    font-family: "Georgia", sans-serif;
}

h1 {
    font-family: "Titania", sans-serif;
    font-size: 75px;
}

h2 {
    font-family: "", sans-serif;
}

h3 {
    font-family: "", sans-serif;
}