@font-face {
    font-family: 'Bauhaus';
    src: url('./fonts/Bauhaus.ttf');
}

@font-face {
    font-family: 'Titania';
    src: url('./fonts/Titania-Regular.ttf');
}

@font-face {
    font-family: 'Titania Outline';
    src: url('./fonts/Titania-Outline.ttf');
}

@font-face {
    font-family: 'Titania Shadow';
    src: url('./fonts/Titania-Shadow.ttf');
}

@font-face {
    font-family: 'Lemon Mocktail';
    src: url('./fonts/Lemon-Mocktail.ttf');
}

@font-face {
    font-family: 'Aquero';
    src: url('./fonts/Aquero.ttf');
}

@font-face {
    font-family: 'Schwarzenberg';
    src: url('./fonts/Schwarzenberg.ttf');
}

@font-face {
    font-family: 'Schwarzenberg Italic';
    src: url('./fonts/Schwarzenberg-Italic.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Georgia", sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #2d402e;
}

p {
    font-family: "Georgia", sans-serif;
}

h1 {
    font-family: "Titania", sans-serif;
    font-size: 4em;
    font-weight: bold;
}

h2 {
    font-family: "Georgia", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.big-headline {
    font-family: "Schwarzenberg", serif;
    font-size: 8em;
    font-weight: normal;
    text-align: justify;
    line-height: 80%;
    color: #bf4830;
}

.big-sub-headline {
    font-family: "Lemon Mocktail", serif;
    font-size: 3em;
    font-weight: normal;
    color: #691200;
}

.emphasis-box {
    background-color: #bf4830;
    color: white;
    width: fit-content;
    align-content: center;
    border-bottom: 5px solid black;
    padding: 5px 20px 0px 20px;
    font-family: "Titania", sans-serif;
    font-size: 3em;
    text-align: center;
    line-height: 100%;
}

header {
    background-color: #bf4830;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.247);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.banner-group {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.banner-title {
    font-family: "Titania", sans-serif;
    font-size: 6em;
    color: white;
    text-shadow: 4px 4px #F2A444, 8px 8px black;
    border-top: 2px solid white;
}

.banner-subtitle {
    font-family: "Bauhaus", sans-serif;
    font-size: 2em;
    letter-spacing: 5px;
    color: white;
}

.main-nav {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    font-size: large;
    align-items: stretch;
    gap: 5px;
}

.main-nav a {
    padding: 10px 20px;
    align-content: center;
    font-family: "Georgia", sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 2px black;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    transition: 100ms;
}

.main-nav a:hover {
    background-color: white;
    text-shadow: none;
    color: black;
    transition: 100ms;
}

.main-nav .vr {
  border-left: 6px double white;
  height: inherit;
  margin: 5px 0px;
}

.page-banner {
    background-color: #f2a444;
    align-content: center;
    font-family: "Lemon Mocktail", sans-serif;
    font-size: 6em;
    color: #bf4830;
    text-align: center;
    padding: 60px 20px;
}

.sep {
    border: 1px solid #bf4830;
    width: inherit;
    height: inherit;
}

.vr-double {
    border-left-width: 6px;
    border-left-style: double;
    height: inherit;
}

.thick {
    border-width: 2px;
}

.thicker {
    border-width: 4px;
}

.dashed {
    border-style: dashed;
}

.scrollable {
    flex-grow: 1;
}


.center-scroll {
    anchor-name: --center-scroll;
    margin: 0px auto;
    width: 45vw;
    height: 100%;
    display: block;
    align-self: center;
    background-color: #faf2e5;
}

.left-scroll {
    margin: 0px 10px;
    padding: 10px;
    display: block;
    position: fixed;
    position-anchor: --center-scroll;
    top: anchor(top);
    right: anchor(left);
    background-color: #faf2e5;
}

.right-scroll {
    margin: 0px 10px;
    padding: 10px;
    display: block;
    position: fixed;
    position-anchor: --center-scroll;
    top: anchor(top);
    left: anchor(right);
    background-color: #faf2e5;
}

.container {
    padding: 10px 20px;
}

.row {
    gap: 10px;
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.article-box {
    display: flex;
    gap: 10px;
    width: 100%;
}

section#main-news {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 5px;
    border-left: 2px solid #bf4830;
    border-right: 2px solid #bf4830;
}

section#tips {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #bf4830;
    border-right: 2px solid #bf4830;
    padding: 0px 20px;
    gap: 10px;
}

.img-cont {
    width: 100%;
    height: 100%;
    background-image: url('../img/grain.jpg');
    opacity: 0.8;
    mix-blend-mode: multiply;
    overflow: hidden;
    align-content: center;
}

.img-cont.banner {
    height: 300px;
}

.img-cont.thumbnail {
    max-width: 30vw;
    max-height: 300px;
}

.img-cont.small-thumbnail {
    max-width: 300px;
    max-height: 200px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: sepia(0.4) contrast(1.4) brightness(1.1) saturate(1.8) hue-rotate(-10deg);
}

.top-border {
    display: inline-block;
    border-top: 2px dashed #bf4830;
    padding: 10px 0px 0px 0px;
}

