@font-face{
    font-family: 'Bauhaus';
    src: url('./fonts/Bauhaus.ttf');
}

@font-face{
    font-family: 'Titania';
    src: url('./fonts/Titania-Regular.ttf');
}

@font-face{
    font-family: 'Titania Outline';
    src: url('./fonts/Titania-Outline.ttf');
}

@font-face{
    font-family: 'Titania Shadow';
    src: url('./fonts/Titania-Shadow.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Georgia", sans-serif;
}

body {
    background-color: #faf2e5;
}

p {
    font-family: "Georgia", sans-serif;
}

h1 {
    font-family: "Titania", sans-serif;
    font-size: 75px;
}

h2 {
    font-family: "", sans-serif;
}

h3 {
    font-family: "", sans-serif;
}

header {
    background-color: #bf4830;
}

.header-group {
    padding: 20px 0px;
    text-align: center;
    color: white;
}

.header-title {
    font-family: "Titania", sans-serif;
    font-size: 6em;
    color: white;
}

.header-subtitle {
    font-family: "Bauhaus", sans-serif;
    font-size: 2em;
    letter-spacing: 5px;
    color: white;
}

.main-nav {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    font-size: large;
}

.main-nav a {
    padding: 12px 30px;
    font-family: "Georgia", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
 
}

.main-nav a:hover {
    /* font-weight: bold; */
    color: #f2a444;
    text-decoration: underline;
}

.vr {
  border-left: 2px solid white;
  height: inherit;
}